*{
    margin: 0px;
    padding: 0px;
    background-image: url(images/background.jpg) 
    
}

.header{
    min-height: 100v;
    width:100px;
    background-position:center;
    background-size:cover;
    background-image: url(images/background.jpg) 


   
}
.nav{
    display:grid;
    padding: 2% 6%;
    justify-content:center;

}

#footer {
    position: fixed;
    bottom: 0;
    right: 0;
    background-color: #f2f2f2;
    padding: 10px;
  }


  #footer {
    position: fixed;
    bottom: 0;
    right: 0;
    background-color: #f2f2f2;
    padding: 10px;